body {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(
        to left,
        #5e5e5e,   /* чуть светлее — блик сверху */
        #3d3d3d,
        #292929,
        #1a1a1a
    );
    margin: 100px auto;
}
.container {
    background-color: #1A1919;
    max-width: 1034px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -15px;
}


.header-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-text {
    font-size: 24px;
    color: #FFF;
    text-align: center;
    line-height: 1.4;
    margin: 0;
}
.test-container {
    background-color: #1A1919;
    max-width: 1034px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -15px;
}
.question {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b591f1;
}
.question:last-child {
    border-bottom: none;
}
.question h3 {
    color: #a020f0;
    margin-bottom: 15px;
}
.options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #b591f1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.option:hover {
    background: #e9ecef;
}
.option input {
    margin-right: 10px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background: #a020f0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}
button[type="submit"]:hover {
    background: #a020f0;
}

.result-btn {
    display: flex;
    background-color: #a020f0;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 40px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 30px;
    transition: background-color 0.4s ease;
    transition: 0.4s ease;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.result-btn:hover {
    background-color: #8c1edb;
    box-shadow: 0 0 10px #a020f0, 0 0 10px #b591f1, 0 0 10px #FFF;
}

.about-me {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: center;
}

.about-me-text {
    font-size: 32px;
    color: #b591f1;
    text-align: center;
}

.contact-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message-area {
    display: flex;
    white-space: pre-wrap;
    resize: none;
    gap: 10px;
    border: 1px solid #000;
    border-radius: 14px;
    padding: 10px;
    width: 100%;
    height: 120px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22.97px;
}

.form-group {
    display: flex;
    flex-direction: column;
}
.send-message-button {
    display: flex;
    gap: 10px;
    padding: 20px 35px;
    background-color: #191A23;
    color: #FFF;
    border: 1px solid #191A23;
    border-radius: 14px;
    justify-content: center;
    transition: transform 0.2s;
}

.send-message-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}
