
body {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(
        to left,
        #5e5e5e,   /* чуть светлее — блик сверху */
        #3d3d3d,
        #292929,
        #1a1a1a
    );
    margin: 100px auto;
}
.container {
    background-color: #1A1919;
    max-width: 1034px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -15px;
}


.header-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-text {
    font-size: 24px;
    color: #FFF;
    text-align: center;
    line-height: 1.4;
    margin: 0;
}
.test-container {
    background-color: #1A1919;
    max-width: 1034px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -15px;
}
.question {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b591f1;
}
.question:last-child {
    border-bottom: none;
}
.question h3 {
    color: #a020f0;
    margin-bottom: 15px;
}
.options {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #b591f1;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.option:hover {
    background: #e9ecef;
}
.option input {
    margin-right: 10px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background: #a020f0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 20px;
}
button[type="submit"]:hover {
    background: #a020f0;
}


