body {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
    to left,
    #5e5e5e,
    #3d3d3d,
    #292929,
    #1a1a1a
    );
}

.container {
    background-color: #1A1919;
    max-width: 1034px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -15px;
}

header {
    background: linear-gradient(
    to left,
    #5e5e5e,
    #3d3d3d,
    #292929,
    #1a1a1a
    );
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-text {
    color: #fff;
    font-size: 24px;
}

.header-auth-reg {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-auth, .header-reg {
    font-size: 18px;
    text-decoration: none;
    color: #808080;
}

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registration-form-title {
    display: flex;
    padding-bottom: 40px;
    font-size: 26px;
}

.registration-form-name {
    display: flex;
    align-items: center;
    gap: 40px;
}

.registration-form-mail {
    display: flex;
    align-items: center;
    gap: 40px;
}

.registration-form-password {
    display: flex;
    align-items: center;
    gap: 40px;
}

.registration-form-password-repeat {
    display: flex;
    align-items: center;
    gap: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.registration-form form label {
    width: 160px;
    text-align: right;
    font-size: 20px;
}

.registration-form form input {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.registration-form form input:focus {
    outline: none;
    border-color: #007bff;
}

.registration-form form button.register-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form form button.register-btn:hover {
    background-color: #0056b3;
}