body {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(
    to left,
    #5e5e5e,   /* чуть светлее — блик сверху */
    #3d3d3d,
    #292929,
    #1a1a1a
    );
    margin: 100px auto;
}

.container {
    background-color: #1A1919;
    max-width: 1034px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -15px;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    font-size: 64px;
    color: #FFF;
    text-align: center;
}

.header-text {
    font-size: 32px;
    color: #FFF;
    margin: 15px 0 0;
}