body {
    font-family: 'Space Grotesk', sans-serif;
    background: linear-gradient(
    to left,
    #5e5e5e,   /* чуть светлее — блик сверху */
    #3d3d3d,
    #292929,
    #1a1a1a
    );
    margin: 100px auto;
}

.container {
    background-color: #1A1919;
    max-width: 1034px;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: -15px;
}

.header-content {
    display: flex;
}

.header-text {
    font-size: 64px;
    color: #FFF;
    margin-bottom: 52px;
    text-align: center;
}

.swiper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.swiper-slide-container {
    display: flex;
    position: relative;
    gap: 110px;
    padding: 40px;
    border-radius: 25px;
    border: 2px solid #636362;
}

.swiper-slide-text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 40%;
    max-height: 400px;
}

.swiper-slide-title {
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
    color: #FFF;
    letter-spacing: 0.5px;
}

.swiper-slide-number {
    font-weight: 400;
    font-size: 22px;
    line-height: 22.97px;
    color: #FFF;
}

.swiper-slide-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22.97px;
    color: #FFF;
}

.swiper-slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    border-radius: 5%;
    width: 450px;
    height: 400px;
    box-shadow: 0 0 30px #b591f1;
}

.swiper-slide-img img {
    width: 70%;
    height: 70%;
}

.swiper-slide-points {
    font-weight: 800;
    font-size: 20px;
    line-height: 22.97px;
    color: #FFF;
    border: 2px #FFF solid;
    padding: 6px;
    border-radius: 10px;
}

.swiper-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding-bottom: 5px;
    padding-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    visibility: hidden;
}

.swiper-pagination {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 19px;
}

.swiper-pagination-bullet {
    width: 26px !important;
    height: 26px !important;
    border-radius: 10px;
    background-color: #a020f0 !important;
    transition: all 0.8s ease;
}

.swiper-pagination-bullet:hover {
    transition: all 0.8s ease;
    box-shadow: 0 0 5px #a020f0, 0 0 10px #b591f1, 0 0 5px #FFF;
}

.swiper-pagination-bullet-active {
    background-image: url('../images/star_green.svg') !important;
    opacity: 1 !important;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-text-title {
    font-weight: 800;
    font-size: 30px;
    line-height: 22.97px;
    color: #FFF;
}

.main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 22.97px;
    color: #FFF;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    font-weight: 700;
    font-size: 50px;
    line-height: 22.97px;
    text-decoration: none;
    color: #FFF;
    background-color: #a020f0;
    border-radius: 10px;
    padding: 35px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s ease;
    transition: 0.4s ease;
}

.button:hover {
    box-shadow: 0 0 10px #a020f0, 0 0 10px #b591f1, 0 0 10px #FFF;
    background-color: #8c1edb;
}